/* Desktop */
.loader-container {
  --size-unit: 16;
  /* body font-size in design - no px */
  --size-container-ideal: 1440;
  /* screen-size in design - no px */
  --size-container-min: 992px;
  --size-container-max: 1920px;
  --size-container: clamp(var(--size-container-min), 100vw, var(--size-container-max));
  --size-font: calc(var(--size-container) / (var(--size-container-ideal) / var(--size-unit)));
  font-size: var(--size-font);
  background-color: #fff;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
}

.loader-container.prevent-overflow {
  overflow: hidden;
}

/* Tablet */
@media screen and (max-width: 991px) {
  .loader-container {
    --size-container-ideal: 834;
    --size-container-min: 768px;
    --size-container-max: 991px;
  }
}

/* Mobile Landscape */
@media screen and (max-width: 767px) {
  .loader-container {
    --size-container-ideal: 550;
    --size-container-min: 480px;
    --size-container-max: 767px;
  }
}

/* Mobile Portrait */
@media screen and (max-width: 479px) {
  .loader-container {
    --size-container-ideal: 550;
    --size-container-min: 320px;
    --size-container-max: 479px;
  }
}

.willem-header {
  position: relative;
  width: 100%;
  height: 100%;
}

.willem__cover-image-extra {
  pointer-events: none;
  object-fit: cover;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.willem__cover-image-extra.is--2 {
  z-index: 2;
}

.willem__cover-image-extra.is--3 {
  z-index: 1;
}

.willem__cover-image-extra.is--1 {
  z-index: 3;
}

.willem-header__content {
  color: #fff;
  width: 100%;
  min-height: 100dvh;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.willem-header__top {
  width: 100%;
}

.willem-header__bottom {
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.willem__h1 {
  white-space: nowrap;
  justify-content: center;
  font-size: 12.5em;
  font-weight: 400;
  line-height: .80;
  display: flex;
  position: relative;
}

.willen-nav {
  display: flex;
  position: relative;
  overflow: hidden;
}

.willem-nav__start {
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  display: flex;
}

.willem-nav__end {
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  display: flex;
}

.willem-nav__logo {
  color: inherit;
  text-decoration: none;
}

.willem__p {
  margin-bottom: 0;
  font-size: 1.3125em;
  font-weight: 500;
  line-height: 1.5;
}

.willem-nav__link {
  color: inherit;
  text-decoration: none;
}

.willem-nav__links {
  gap: .5em;
  display: flex;
}

.willem-nav__cta {
  display: flex;
}

.link-group {
  gap: 1em;
  justify-content: center;
  font-size: 3em;
  display: flex;
}

.underline-link {
  color: inherit;
  font-size: 1.3125em;
  line-height: 1.3;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.underline-link::before,
.underline-link.is--alt::before,
.underline-link.is--alt::after {
  content: "";
  position: absolute;
  bottom: 0em;
  left: 0;
  width: 100%;
  height: 0.08em;
  background-color: currentColor;
  transition: transform 0.735s cubic-bezier(0.625, 0.05, 0, 1);
  transform-origin: right;
  transform: scaleX(0) rotate(0.001deg);
}

.underline-link:hover::before {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
}

/* Alt */
.underline-link.is--alt::before {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
  transition-delay: 0.3s;
}

.underline-link.is--alt:hover::before {
  transform-origin: right;
  transform: scaleX(0) rotate(0.001deg);
  transition-delay: 0s;
}

.underline-link.is--alt::after {
  transform-origin: right;
  transform: scaleX(0) rotate(0.001deg);
  transition-delay: 0s;
}

.underline-link.is--alt:hover::after {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
  transition-delay: 0.3s;
}


.willem-loader {
  color: #131313;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
}

.willem-loader__box {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 0;
  display: flex;
  position: relative;
}

.willem-loader__box.is--no-overflow {
  overflow: visible;
}

.willem__h1-end {
  justify-content: flex-start;
  width: 2.5em;
  display: flex;
  overflow: hidden;
}

.willem__h1-start {
  justify-content: flex-end;
  width: 2.5em;
  display: flex;
  overflow: hidden;
}

.willem__letter {
  display: block;
  position: relative;
}

.willem__letter.is--space {
  margin-left: .25em;
}

.willem-loader__box-inner {
  justify-content: center;
  align-items: center;
  min-width: 1em;
  height: 95%;
  display: flex;
  position: relative;
}

.willem__growing-image {
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.willem-loader__box-no-overflow {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 1em;
  display: flex;
  position: relative;
}

.willem-loader__box-no-overflow.is--no-overflow,
.overflow {
  overflow: visible;
}

.willem__growing-image-wrap {
  width: 100%;
  min-width: 1em;
  height: 100%;
  position: absolute;
}

.willem__letter-white {
  display: block;
  position: relative;
}

.willem__letter-white.is--space {
  margin-left: .25em;
}

.willem__cover-image {
  pointer-events: none;
  object-fit: cover;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.willem__cover-image.is--2 {
  z-index: 2;
}

.willem__cover-image.is--3 {
  z-index: 1;
}

.willem__cover-image.is--1 {
  z-index: 3;
}

@media screen and (max-width: 991px) {
  .willem__h1 {
    font-size: 9em;
  }

  .willem-nav__links {
    gap: 0em;
    flex-flow: column;
  }
}

@media screen and (max-width: 767px) {
  .willem__h1 {
    font-size: 5.5em;
  }

  .willem-nav__start {
    width: 65%;
  }

  .willem-nav__end {
    gap: 1.5em;
    flex-flow: column;
    width: 45%;
  }
}